.wrapper {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--content-tertiary);
  pointer-events: none;
}

.input {
  padding-left: 36px !important;
}
